[submodule "deps/hashmap.c"]
	path = app/deps/hashmap.c
	url = https://github.com/tidwall/hashmap.c
[submodule "app/deps/o5mreader"]
	path = app/deps/o5mreader
	url = https://github.com/jomy10/o5mreader
[submodule "app/deps/stb"]
	path = app/deps/stb
	url = https://github.com/nothings/stb
[submodule "app/deps/olive.c"]
	path = app/deps/olive.c
	url = https://github.com/tsoding/olive.c
